:root {
    --white: #fff;
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --layout-bg: #170f23;
    --layout-header-bg: rgba(23, 15, 35, 0.8);
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #34224f;
    --gradient-latest-section-artist: linear-gradient(286.07deg, rgba(23, 15, 35, 0.95) 55.21%, rgba(23, 15, 35, 0.6));
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #9b4de0;
    --link-text-hover: #c273ed;
    --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
    --search-text: #eeeeeec0;
    --text-placeholder: #dadada;
    --navigation-text: #dadada;
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
    --portal-menu-box-shadow: rgba(0, 0, 0, 0.2);
    --footer-color: #391e3e;
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --text-item-hover: #fff;
    --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
    --padding-section: 59px;
    --loading-bg: hsla(0, 0%, 100%, 0.1);
    --setting-icon-text: #d8d8d8;
    --border-player: hsla(0, 0%, 100%, 0.1);
    --player-text: #fff;

    --progressbar-active-bg: #FFF;
    --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
    --img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
}

img,
video {
    height: auto;
    width: 100%;
}

a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

a,
a.active,
a:hover {
    text-decoration: none;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    font: inherit;
}

figure {
    margin: 0;
    padding: 0;
    background-color: var(--loading-bg);
}

button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

h3 {
    font-size: 100%;
    font-weight: 400;
}

.icon {
    line-height: 66%;
    display: inline-block;
}

main.zm-section::-webkit-scrollbar,
.sidebar-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .3;
    cursor: none;
}

.is-38x38 {
    width: 38px;
    height: 38px;
}

.is-48x48 {}

.is-50x50 {
    width: 50px;
    height: 50px;
}

.is-rounded {
    overflow: hidden;
    border-radius: 999px !important;
}

.mar-b-30 {
    margin-bottom: 30px !important;
}

.level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}

.mar-b-5 {
    margin-bottom: 5px !important;
}

.add-padding {
    padding: 0 4px;
}

.add-hidden-text {
    position: relative;
}

.hidden-desc {
    font-size: 12px;
    background-color: hsla(0, 0%, 100%, .1);
    text-align: center;
    color: #eeeeeec2;
    padding: 3px 6px;
    border-radius: 5px;
    position: absolute;
    top: -32px;
    display: none;
    line-height: 12px;
    height: 18px;
}

.hidden-desc::after {
    content: "";
    border-width: 7px 7px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, .1) transparent transparent transparent;
    position: absolute;
}

.hidden-desc.mv::after {
    right: 9px;
    top: 18px;
}

.hidden-desc.lyrics::after {
    right: 16px;
    top: 18px;
}

.hidden-desc.mode::after {
    right: 16px;
    top: 18px;
}

.add-hidden-text:hover .hidden-desc {
    display: block;
}

.setting-text-hidden {
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 54px;
    right: -8px;
    font-size: 12px;
    color: #eeeeeec1;
    padding: 3px 6px;
    background-color: hsla(0, 0%, 100%, .1);
}

.setting-text-hidden::before {
    content: "";
    border-width: 7px 7px;
    border-style: solid;
    border-color: transparent transparent hsla(0, 0%, 100%, .1) transparent;
    position: absolute;
    bottom: 24px;
    right: 20px;
}

.setting-item:hover .setting-text-hidden {
    display: block;
}

#btn-volume,
#progress {
    cursor: pointer;
    accent-color: #e2e2e2;
}

.zm-play {
    display: block;
}

.zm-pause {
    display: none;
}

.repeat-loop {
    display: none;
    position: absolute;
    right: -2px;
    top: 3px;
    font-size: 11px;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px 3.5px;
    border-radius: 50%;
}