*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

.main {
    position: relative;
    overflow: hidden;
}

.main-layout,
#left-sidebar {
    height: calc(100vh - 90px);
}

.main-layout {
    display: flex;
    width: 100%;
    min-width: 768px;
    background-color: var(--layout-bg);
}


/* Music Sidebar */
#left-sidebar {
    position: relative;
    z-index: 100;
    width: 240px;
    background-color: var(--sidebar-bg);
    padding-top: 70px;
    padding-bottom: 54px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    width: 100%;
}

.navbar-branch {
    width: 240px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}

.btn-button {
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-button .logo {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: var(--img-logo-mp3) 50%/contain no-repeat;

}

.navbar-main {
    position: relative;
    margin-bottom: 16px;
}

.navbar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-items {
    font-weight: 700;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
}

.navbar-items.navbar-items-active {
    color: var(--text-item-hover);
    background-color: var(--alpha-bg);
    border-color: var(--purple-primary);
}

.navbar-items a {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.navbar-items a>svg {
    margin-right: 12px;
}

.navbar-items span {
    white-space: nowrap;
    line-height: normal;
}

.navbar-items .shuffle-play-btn {
    display: none;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0 !important;
    border-radius: 999px;
    position: absolute;
    right: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-items .shuffle-play-btn .icon {
    font-size: 18px;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.nav-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.nav-btn:hover {
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
}

.navbar-items:hover {
    color: var(--text-item-hover);
}

.navbar-items:hover .shuffle-play-btn {
    display: flex;
}

.tag {
    line-height: 0;
    margin-left: 8px;
    background-color: inherit;
}

.sidebar-divide {
    position: relative;
    height: 1px;
}

.sidebar-divide::after {
    content: "";
    border-top: 1px solid var(--border-primary);
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
}

.sidebar-scrollbar {
    margin-top: 16px;
}

/* .sidebar-scrollbar.is-mark {
    -webkit-mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .8) 10%, #fff 25%, #fff);
} */

.login-nav-container {
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--purple-primary);
}

.is-upper {
    text-transform: uppercase;
}

.nav-btn.is-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: var(--alpha-bg);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    margin: 0 auto;
}

.nav-btn.is-medium {
    font-size: 14px;
    padding: 9px 24px;
}

.login-nav-container .nav-btn {
    border-color: var(--white);
    color: inherit;
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
}

.login-nav-container .text {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 5px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.thumb-vertical {
    background-color: var(--scroll-thumb-bg);
    border-radius: 2px;
}

.add-playist-sidebar .icon {
    font-size: 24px;
    margin-right: 12px;
}

.add-playist-sidebar .nav-btn {
    position: fixed;
    width: 240px;
    left: 0;
    height: 54px;
    border-top: 1px solid var(--border-primary);
    padding: 0 28px;
    border-radius: 0;
    display: flex;
    align-items: center;
    color: var(--navigation-text);
    font-weight: 500;
    bottom: 0;
}

.zing-layout.has-player .add-playist-sidebar .nav-btn {
    bottom: 90px;
    padding: 0 24px;
}



.btn-expanded {}


/* ------------------------------------------ Music Header ----------------------------------- */
.zm-header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    height: 70px;
    padding: 0 var(--padding-section);
    z-index: 99;
    min-width: 660px;
    transition: right .4s;
}

.zm-header::before {
    content: "";
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 1;
    background-color: var(--layout-header-bg);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    width: calc(100% + 2px);
    box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
}

.zm-header.is-sticky:not(.hide-sticky):before {
    bottom: 0;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zm-header .level {
    position: relative;
    z-index: 1;
    width: 100%;
}

.level-left,
.level-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.level-left {
    align-items: center;
    justify-content: flex-start;
}

.level-right {
    align-items: center;
    justify-content: flex-end;
}

.level .level-left,
.level .level-right {
    display: flex;
}

.zm-header .level-left {
    flex-grow: 1;
    margin-right: 10px;
}

.level .level-left+.level-right {
    margin-top: 0;
}

.zm-header .level-left .nav-btn {
    display: flex;
    align-items: center;
}

.zm-header .level-left .nav-btn .ic-back,
.zm-header .level-left .nav-btn .ic-forward {
    font-size: 24px;
    line-height: 24px;
    margin-right: 22px;
}

.zm-header .level-left .search {
    position: relative;
    width: 100%;
    max-width: 440px;
}

.search-container {
    position: relative;
    border-radius: 20px;
    height: 40px;
    background-color: var(--alpha-bg);
}

.search-container.is-collapse {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    background-color: var(--primary-bg);
    border: 1px solid transparent;
}

.search-container .icon {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 10px;
    left: 10px;
    color: var(--text-placeholder);
}

.search-container .input-wrapper {
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
}

.search-container input {
    margin: 0;
    display: inline-block;
    width: 95%;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: var(--search-text);
    background-clip: padding-box;
    border: 0;
    position: relative;
    top: 3px;
    height: 34px;
    padding: 5px 0;
    padding-left: 3px;
    line-height: 35px;
}

input::placeholder {
    color: var(--search-text);
}

.suggest__list {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 0;
    background-color: var(--primary-bg);
    z-index: 5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, .28);
    padding: 13px 10px;
    color: var(--text-primary);
}

.suggest__list--content {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.search__title {
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 8px;
    display: flex;
    justify-content: space-between;
}

.suggest__item {
    display: flex;
    align-items: baseline;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.suggest__item .icon {
    font-size: 16px;
    color: var(--text-secondary);
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.is-oneline {
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggest__item .is-oneline {
    width: 100%;
}

.download-desktop-app {
    margin-right: 12px;
    background-color: var(--alpha-bg);
    color: var(--purple-primary);
    border-radius: 999px;
    position: relative;
}

.download-desktop-app .download-btn {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    font-weight: 600;
}

.download-desktop-app .download-btn .icon {
    margin-right: 4px;
}

.download-desktop-app .tooltip-download-btn {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(100% + 17px);
    left: -48px;
    width: 270px;
    color: var(--white);
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 400;
    transition: all .3s linear;
}

.download-desktop-app .tooltip-download-btn:after {
    content: "";
    position: absolute;
    top: -18px;
    right: 130px;
    border-left: 7px solid transparent;
    border-bottom: 9px solid var(--purple-primary);
    border-right: 7px solid transparent;
    border-top: 9px solid transparent;
}

.zm-header .level-right .setting-item {
    position: relative;
    margin-right: 10px;
}

.zm-header .level-right .setting-item>.nav-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    border-radius: 999px;
}

.zm-tooltip-btn .icon {
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}

.zm-header .level-right .setting-item>.nav-btn .icon {
    color: var(--setting-icon-text);
    font-size: 20px;
}

.user-setting {
    position: relative;
}

.zm-avarta-frame {
    border: 999px;
}

.zm-avarta-frame .nav-btn {
    line-height: unset;
}

.level img {
    display: inline-block;
    vertical-align: top;
}


/* ----------------------------------------- Music Content ------------------------------------------ */
.zm-box {
    display: block;
}

.zm-mainpage {
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    position: relative;
    width: calc(100% - 570px);
    min-height: 100%;
    transition: margin-right .4s;
}

main.zm-section {
    padding: 0 var(--padding-section);
    margin: 0 auto;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

main.zm-section>.container {
    min-height: calc(100% - 158px);
    margin-top: 70px;
}

.gallery {
    padding-top: 32px;
}

.gallery-container {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 0 -15px 20px;
    transition: height .2s;
}

.zm-gallery-prev,
.zm-gallery-next {
    position: absolute;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.zm-gallery-prev {
    left: 0;
}

.zm-gallery-next {
    right: 0;
}

.zm-carousel-control-next,
.zm-carousel-control-prev {
    border: 0;
    width: 26px;
    height: 26px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    left: auto;
    top: -38px;
    cursor: pointer;
}

.zm-gallery-next .zm-carousel-control-next,
.zm-gallery-next .zm-carousel-control-prev,
.zm-gallery-prev .zm-carousel-control-next,
.zm-gallery-prev .zm-carousel-control-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    color: var(--white);
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    right: 25px;
    background-color: hsla(0, 0%, 100%, .15);
    box-shadow: 0 2px 4px 0 rgba(226, 102, 102, .15);
    opacity: 0;
}

.zm-gallery-prev .zm-carousel-control-prev {
    left: 25px;
}

.zm-carousel-control-next .icon,
.zm-carousel-control-prev .icon {
    font-size: 18px;
    vertical-align: middle;
}

.gallery-container:hover button {
    opacity: 1;
}

.zm-gallery-next .zm-carousel-control-next .icon,
.zm-gallery-next .zm-carousel-control-prev .icon,
.zm-gallery-prev .zm-carousel-control-next .icon,
.zm-gallery-prev .zm-carousel-control-prev .icon {
    font-size: 1.4vw;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: relative;
    right: -2px;
}

.zm-gallery-prev .zm-carousel-control-prev .icon {
    left: -2px;
}

.gallery-item {
    position: absolute;
    height: auto;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, z-index 0s linear .25s;
    width: 33.33%;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
    padding: 0 15px;
}

.gallery-item.gallery-item-first {
    transform: translateX(-20%);
}

.gallery-item.gallery-item-next,
.gallery-item.gallery-item-previous {
    opacity: 1;
    z-index: 1;
}

.gallery-item.gallery-item-previous {
    transform: translateX(-100%);
}

.gallery-item.gallery-item-selected {
    transform: translateX(0);
    opacity: 1;
    z-index: 10;
}

.gallery-item.gallery-item-next {
    transform: translateX(100%);
}

.gallery-item.gallery-item-last {
    transform: translateX(20%);
}

.zm-card {
    max-width: 100%;
    position: relative;
}

.zm-card-image {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    flex-shrink: 0;
}

.gallery-item .zm-card-image {
    border-radius: 8px;
}

.zm-card-image figure {
    line-height: 0;
    height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item .zm-card-image figure {
    height: 0;
    padding-bottom: 56.25%;
}

.zm-card-image img {
    transition: transform .7s;
}

.gallery-item .zm-card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.title {
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}

.zm-card-content .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-item .zm-card-content .title {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    color: var(--text-secondary);
}

.zm-card-content .subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
}

.gallery-item .zm-card-content .subtitle {
    font-size: 13px;
    line-height: 1.62;
    color: var(--white);
}


h1.title,
h3.title {
    font-size: 18px;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.title.is-2 {
    font-size: 20px;
}

.zm-section-title.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zm-section .discovery-btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}

.zm-section .discovery-btn:hover {
    color: var(--link-text-hover);
}

.title .icon.ic-go-right {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: inherit;
}

.zm-section .discovery-btn .icon {
    font-size: 14px;
    top: 0;
    margin-left: 6px;
}

.zm-carousel,
.zm-carousel-wrapper {
    position: relative;
}

.zm-carousel {
    display: flex;
    margin: 0 -15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.zm-carousel__container {
    display: flex;
    z-index: 3;
    width: 100%;
}

.zm-carousel-item {
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.zm-carousel-item,
.zm-carousel-animation-active {
    transition: transform .3s ease .1s;
}

.zm-carousel-item .zm-card {
    width: 100%;
}

.playist-wrapper .zm-card-content {
    margin-top: 12px;
}

.playist-wrapper .zm-card-content .title {
    text-transform: none;
}

.zm-card-content .title a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    margin: 8px 0 4px;
}

.playist-wrapper .zm-card-content .title a {
    text-transform: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.zm-home-recent .playist-wrapper .zm-card-content .title a {
    margin-bottom: 0;
}

.zm-new-release-section {
    position: relative;
    margin-bottom: -10px;
}

.zm-new-release-section .discovery-btn {
    position: absolute;
    right: 0;
    top: 50px;
}

.zm-new-release-section .genre-select {
    margin-bottom: 16px;
}

.zm-new-release-section .genre-select .nav-btn {
    padding: 4px 24px;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
}

.zm-new-release-section .genre-select .nav-btn.active {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    color: var(--white);
}

.zm-new-release-section .columns {
    height: 321px;
}

.zm-new-release-section .columns {
    min-height: 190px;
}

.media-item {
    border-radius: 4px;
}

.media-item.active,
.media-item.focus,
.media-item:hover {
    background-color: var(--alpha-bg);
}

.zm-new-release-section .list-item {
    border-bottom: none;
}

.media-item .media-left {
    display: flex;
    width: 50%;
}

.media-item.full-left .media-left {
    flex-grow: 1;
    flex-shrink: 1;
}

.media-left .song-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.media-item .media-left .song-thumb {
    margin-right: 10px;
    flex-shrink: 0;
}

.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-alpha-50);
    visibility: hidden;
}

.media .opacity,
.media .zm-player-actions {
    visibility: hidden;
}

.zm-actions-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.zm-box {
    display: block;
}

.zm-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    width: 80%;
    z-index: 97;
}

.zm-actions .zm-tooltip-btn {
    font-size: 20px;
}

.media-item .media-left .song-thumb .nav-btn {
    font-size: 18px;
    line-height: 0;
    height: 18px;
}

.media .card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.media-left .song-thumb+.card-info {
    overflow: hidden;
}

.media-item .media-left .title-wrapper {
    max-width: 100%;
}

.media .title {
    font-weight: 500;
    vertical-align: top;
}

.media .title,
.media .title a {
    display: inline-block;
}

.media-item .media-left .title-wrapper .title {
    display: flex;
    align-items: center;
    flex: 1 1;
}

.media-item .media-left .subtitle {
    line-height: 1.33;
}

.zm-new-release-section .media-left .time-release {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: 3px;
    white-space: nowrap;
}

.media-item .media-right {
    padding-bottom: 0;
}

.media-item .media-right .icon {
    color: var(--song-item-action);
}

.media-item.active .media-right .icon,
.media-item.focus .media-right .icon,
.media-item:hover .media-right .icon {
    color: var(--text-primary);
}

.media-item.hide-right .media-right .action-items .ic-like,
.media-item.hide-right .media-right .hover-items {
    display: none;
}

.media-item.hide-right:hover .hover-items {
    display: block;
}

.zm-new-release-section .media-item .media-right .hover-items .level-item {
    display: none;
}

.zm-new-release-section .media-item .media-right .hover-items .level-item:last-child {
    display: flex;
}

.icon.ic-20-Bookmarked,
.icon.ic-like-full {
    color: var(--purple-primary) !important;
}

.animation-like .icon:last-child {
    transition: all .5s;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
}

.animation-like.active .icon:last-child {
    opacity: 0;
    visibility: visible;
    transform: translateY(-80px);
    pointer-events: none;
}

.zm-new-release-section .media-item .media-right .action-items {
    display: none;
}

.media-item .media-right .is-hover-circle {
    line-height: 0;
    padding: 9px 6px;
    margin: 0 4px;
}

.zm-new-release-section .duration {
    visibility: hidden;
}

.media-item .media-right .duration {
    font-size: 12px;
    width: 46px;
    color: var(--song-item-action);
}

.playist-wrapper .zm-card-content .subtitle {
    font-size: 14px;
}

.zm-card-image:hover img[class="imgs"] {
    transform: scale(1.1) translateZ(0);
}

.zm-card-image.active .opacity,
.zm-card-image.active .zm-actions,
.zm-card-image:hover .opacity,
.zm-card-image:hover .zm-actions {
    visibility: visible;
}

.playist-wrapper .zm-card-image.active .opacity,
.playist-wrapper .zm-card-image.active .zm-actions {
    visibility: visible;
}

.playist-actions {
    width: 100%;
    justify-content: space-evenly;
}

.playist-wrapper .zm-actions {
    height: 50px;
}


.new-release-slider .new-release-item {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 var(--new-release-box-shadow);
    background-color: var(--box-item-bg);
    color: var(--text-primary);
    cursor: pointer;
}

.new-release-slider .new-release-item .media,
.new-release-slider .new-release-item a {
    width: 100%;
}

.new-release-slider .zm-carousel {
    padding: 3px 0 5px;
}

.zm-carousel-control-prev {
    right: 45px;
}

.zm-carousel-control-next {
    right: 0;
}

.new-release-slider .zm-carousel-control-next,
.new-release-slider .zm-carousel-control-prev {
    position: absolute;
    z-index: 4;
    width: 38px;
    height: 38px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}

.new-release-slider .zm-carousel-control-prev {
    left: -19px;
}

.new-release-slider .zm-carousel-control-next {
    right: -19px;
}


.new-release-slider .zm-carousel-control-next .icon,
.new-release-slider .zm-carousel-control-prev .icon {
    color: var(--black);
}

.zm-carousel-control-next.zm-disabled,
.zm-carousel-control-prev.zm-disabled {
    opacity: .1;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.new-release-slider .new-release-item .media .media-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-release-slider .new-release-item .media .media-content .title {
    width: 100%;
}

.new-release-slider .new-release-item .media .media-content .subtitle {
    white-space: normal;
}

.new-release-slider .new-release-item .order {
    opacity: .4;
    -webkit-text-stroke: 1px var(--main-text-stroke);
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

.new-release-slider .new-release-item .media .media-content .release-date {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1.8;
    color: var(--text-secondary);
}

.new-release-slider .new-release-item.view-all {
    height: 100%;
    color: var(--purple-primary);
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.rt-chart-home {
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 48px;
}

.rt-chart-home .bg-alpha,
.rt-chart-home .bg-blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rt-chart-home .bg-blur {
    background-color: #2b273f;
}

.rt-chart-home .bg-alpha {
    background-color: rgba(51, 16, 76, .95);
}

.rt-chart-home .bg-alpha-top::after,
.rt-chart-home .bg-alpha-top::before {
    content: "";
    position: absolute;
    width: 230px;
    height: 143.18px;
    -webkit-filter: blur(150px);
    filter: blur(150px);
    border-radius: 115px;
    transform: rotate(30deg);
    background: #ba53f5;
}

.rt-chart-home .bg-alpha-top::before {
    left: -20px;
    top: -50px;
}

.rt-chart-home .bg-alpha-top:after {
    left: 152px;
    bottom: -30px;
    opacity: .7;
}

.rt-chart-home .bg-alpha-bottom:after {
    content: "";
    position: absolute;
    left: 60%;
    right: 0;
    top: -100px;
    height: 250px;
    background: #ba53f5;
    -webkit-filter: blur(230px);
    filter: blur(230px);
}

.rt-chart-home .section-header {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: normal;
    color: var(--white);
    margin-bottom: 20px;
    text-transform: none;
}

.rt-chart-home .section-header>a {
    background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rt-chart-home .section-header .nav-btn {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt-chart-home .section-header .nav-btn .icon svg {
    width: 28px;
    height: 28px;
}

.chart-song-item {
    overflow: hidden;
    border-radius: 4px;
}

.rt-chart-home .chart-song-item {
    border-radius: 4px !important;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 100%, .07);
}

.rt-chart-home .chart-song-item.active,
.rt-chart-home .chart-song-item.is-active,
.rt-chart-home .chart-song-item:hover {
    background-color: hsla(0, 0%, 100%, .2) !important;
}

.rt-chart-home .rt-chart-song-item {
    cursor: auto;
}

.chart-song-item .list-item .media {
    border-radius: 4px;
    background-color: transparent;
}

.rt-chart-home .rt-chart-song-item .media {
    padding: 10px 15px;
}

.song-prefix {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-item .media-left .song-prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
    color: var(--song-item-action);
    font-weight: 700;
}

.song-prefix .number {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
    width: -webkit-max-content;
    width: max-content;
    min-width: 18px;
    text-align: center;
    color: var(--text-primary);
}

.chart-song-item .number {
    min-width: 38px;
    -webkit-text-stroke: 1.5px var(--text-primary);
    opacity: .7;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: rgba(74, 144, 226, 0);
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
}

.song-prefix .number.is-top-1 {
    color: #4a90e2;
}

.song-prefix .number.is-top-2 {
    color: #50e3c2;
}

.song-prefix .number.is-top-3 {
    color: #e35050;
}

.chart-song-item .number.is-top-1,
.chart-song-item .number.is-top-2,
.chart-song-item .number.is-top-3 {
    color: rgba(74, 144, 226, 0);
    opacity: 1;
}

.chart-song-item .number.is-top-1 {
    -webkit-text-stroke: 1px #4a90e2;
    opacity: 1;
}

.chart-song-item .number.is-top-2 {
    -webkit-text-stroke: 1px #50e3c2;
    opacity: 1;
}

.chart-song-item .number.is-top-3 {
    -webkit-text-stroke: 1px #e35050;
    opacity: 1;
}

.rt-chart-home .rt-chart-song-item .song-prefix .number {
    width: 22px;
    min-width: 0;
    margin: 0 !important;
}

.song-prefix .sort {
    width: 18px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}

.rt-chart-home .rt-chart-song-item .song-prefix .sort {
    display: none;
}

.song-prefix .grey {
    color: var(--text-secondary);
}

.rt-chart-home .rt-chart-song-item .image {
    width: 60px;
    height: 60px;
}

.media:hover .opacity,
.media:hover .zm-actions {
    visibility: visible;
}

.rt-chart-home .rt-chart-song-item .subtitle {
    color: hsla(0, 0%, 100%, .5);
}

.rt-chart-home .rt-chart-song-item .media-right .hover-items {
    display: block;
}

.rt-chart-home .rt-chart-song-item .media-right .action-items {
    display: none;
}

.rt-chart-home .rt-chart-song-item .card-info {
    justify-content: center;
    color: var(--white);
}

.rt-chart-home .rt-chart-song-item .media-right {
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
}

.rt-chart-home .show-more {
    margin-top: 5px;
    border-radius: 999px;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 5px 25px;
}

.rt-chart-home .show-more:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.zm-chart-container {
    position: relative;
    height: 300px;
    margin-bottom: 10px;
}

.rt-chart-home .zm-chart-container {
    margin-bottom: 20px;
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0;
}

.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}

@keyframes chartjs-render-animation {
    0% {
        opacity: 0.99;
    }

    100% {
        opacity: 1;
    }
}

.zm-chart-container .zm-chart-toolip {
    top: 0;
    left: 0;
    z-index: 98;
    width: -webkit-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    max-width: 240px;
    min-width: 175px;
    position: absolute;
    padding: 5px 10px 5px 5px;
    background: currentColor;
    font-size: 11px;
    border-radius: 4px;
    transition: all .1s ease;
    pointer-events: none;
    opacity: 0;
}

.zm-chart-container .zm-chart-toolip .song-data {
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.zm-chart-container .zm-chart-toolip .song-data .song-left {
    display: flex;
    align-items: center;
}

.zm-chart-container .zm-chart-toolip .song-data .song-left .song-thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 5px;
    flex-shrink: 0;
}

.zm-chart-container .zm-chart-toolip .song-data .song-info {
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1;
}

.zm-chart-container .zm-chart-toolip .song-data .song-info .song-title {
    font-size: 12px;
}

.zm-chart-container .zm-chart-toolip .song-data .song-info .song-artists {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .8);
}

.zm-chart-container .zm-chart-toolip .song-data .song-right {
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}

.zm-chart-container .zm-chart-toolip .caret::before {
    bottom: 3px;
}

.zm-chart-container .zm-chart-toolip .caret::before,
.zm-chart-container .zm-chart-toolip .caret::after {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 1px;
    background: currentColor;
    z-index: -1;
    pointer-events: none;
    transform: translateX(-50%);
}

.zm-chart-container .zm-chart-toolip .caret::after {
    top: -1px;
}

.week-chart-section {
    margin-top: 28px;
    margin-bottom: -30px;
}

.zm-card-image.banner-image figure {
    height: 0;
    padding-bottom: 28.57%;
}

.zm-section.livestream-section {
    margin-top: 32px;
}

.zm-livestream-item {
    border-radius: 8px;
    overflow: hidden;
}

.zm-livestream-item .top-content {
    position: relative;
}

.zm-livestream-item .svg {
    display: block;
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotate(-90deg);
}

.zm-livestream-item .svg-circle,
.zm-livestream-item .svg-circle-bg {
    fill: none;
}

.zm-livestream-item .top-content .cover {
    padding-bottom: 100%;
    border-radius: 999px;
    height: 0;
    line-height: 0;
}

.zm-livestream-item .top-content .host,
.zm-livestream-item .top-content .radio-icon {
    overflow: hidden;
    border-radius: 999px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 85.3%;
    left: 85.3%;
    transform: translate(-60%, -60%);
    z-index: 3;
    width: 36%;
    height: auto;
    background-color: transparent;
}

.zm-livestream-item .top-content .host img {
    border-radius: 999px;
    border: 2px solid var(--layout-bg);
}

.zm-livestream-item .top-content .action {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
    border-radius: 999px;
    cursor: pointer;
}

.zm-livestream-item .top-content .action .nav-btn {
    position: absolute;
    top: calc(50% - 22.5px);
    left: calc(50% - 22.5px);
}

.zm-livestream-item .top-content .action .nav-btn .icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.zm-livestream-item .top-content .label {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    z-index: 3;
    line-height: 0;
    width: 25%;
}

.zm-livestream-item .top-content:hover .cover img {
    transform: scale(1.1) translateZ(0);
    transition: transform .7s;
}

.zm-livestream-item .top-content.active .opacity,
.zm-livestream-item .top-content:hover .opacity {
    visibility: visible;
    border-radius: 999px;
}

.zm-livestream-item .top-content.active .action,
.zm-livestream-item .top-content:hover .action {
    display: block;
}

.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-next,
.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-prev {
    top: 50%;
    transform: translateY(calc(-50% - 25px));
    background-color: var(--alpha-bg);
    border-radius: 999px;
    z-index: 3;
    position: absolute;
    width: 38px;
    height: 38px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-prev {
    left: -19px;
}

.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-next {
    right: -19px;
}

.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-next .icon,
.zm-section.livestream-section .zm-carousel-wrapper .zm-carousel-control-prev .icon {
    color: var(--black);
    font-size: 18px;
}

.zm-livestream-item .bot-content {
    margin-top: 8px;
    text-align: center;
}

.zm-livestream-item.isLive .bot-content {
    margin-top: 20px;
}

.zm-livestream-item .bot-content .title {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    color: inherit;
}

.zm-partner-section {
    margin-top: 48px;
    padding: 0 40px;
    text-align: center;
}

.zm-partner-section .title {
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 1.71px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.zm-partner-section .columns {
    justify-content: center;
}

.zm-partner-item {
    border-radius: 8px;
    overflow: hidden;
}

.zm-partner-item .content {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}

.zm-partner-item .image {
    background-color: #f7f7f7;
    list-style: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zm-partner-item .image img {
    width: auto;
    max-height: 80%;
    max-width: 90%;
}

#zmp3_Player_Overlay {
    background-color: var(--layout-bg);
    position: fixed;
    left: 240px;
    z-index: 99;
    width: calc(100% - 570px);
}


/* --------------------------------------------- Phan nghe nhac ------------------------------------------- */
.now-playing-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 70px;
    z-index: 100;
}

.player-controls {
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--layout-bg);
}

.player-controls.clickable {
    cursor: pointer;
}

.player-controls__container {
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: var(--player-bg);
    border-top: 1px solid var(--border-player);
    background-image: var(--miniplayer-bg-img);
}

.player-controls-left {
    position: relative;
    width: 30%;
    z-index: 1;
}

.player-controls-left>.level-item {
    width: 100%;
}

.media {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player-controls-left .media {
    padding: 0;
    transition: transform .5s;
    cursor: inherit;
    width: 100%;
}

.media-left,
.media-right {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.media-left {
    margin-right: 10px;
}

.player-controls-left .media-left .thumbnail-wrapper {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.player-controls-left .media-left .thumbnail-wrapper .thumbnail {
    position: relative;
    overflow: hidden;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.player-controls-left .media-left .thumbnail-wrapper .thumbnail .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.thumbnail img.play {
    animation: 15s rotate linear infinite;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}


.player-controls-left .media-content {
    min-width: 0;
    max-width: max-content;
}

/* 
.player-controls-left .media-content .level-left.is-mark {
    -webkit-mask-image: linear-gradient(270deg, transparent .5%, #000 10%);
} */

.player-controls-left .media-content .song-info-wrapper {
    display: flex;
    white-space: nowrap;
}

.player-controls-left .media-content .song-info-wrapper .song-title-item {
    line-height: 0;
    padding-right: 10px;
    color: var(--player-text);
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.player-controls-left .media-content .song-info-wrapper .title-wrapper {
    color: var(--player-text);
}

.player-controls-left .media-content .song-info-wrapper .song-title-item .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    text-overflow: clip;
    overflow: visible;
    display: flex;
    align-items: center;
}

.subtitle.is-one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.subtitle.is-one-line a.active,
.subtitle.is-one-line a:hover {
    color: var(--link-text-hover);
}

.media .subtitle,
.media .title,
.media .title a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: normal;
}

.media .subtitle {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

.level-item .subtitle,
.level-item .title {
    margin-bottom: 0;
}

.player-controls-left .media-content .subtitle {
    margin-top: 1px;
    color: var(--text-secondary);
}

.is-truncate .is-ghost {
    display: inline-block;
}

.subtitle.is-one-line a {
    color: var(--text-secondary);
}

.media-right {
    margin-left: 10px;
    padding-bottom: 18px;
}

.player-controls__player-bar {
    flex-grow: 1;
    max-width: 40vw;
}

.level .level-item:not(.is-narrow) {
    flex-grow: 1;
}

.level .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0;
}

.player-controls__player-bar .actions {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.player-controls .zm-tooltip-btn {
    margin: 0 2px;
    border: none;
    color: var(--player-text);
}

.player-controls .is-hover-circle {
    padding: 3px;
}

.player-controls .is-hover-circle:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.player-controls__player-bar .nav-btn.button {
    margin: 0 7px;
    line-height: 0;
}

.player-controls__player-bar .icon {
    font-size: 18px;
}

.player-controls__player-bar .ic-pause-circle-online,
.player-controls__player-bar .ic-play-circle-online {
    font-size: 38px;
}

.player-controls__player-bar .ic-pause-circle-online:hover,
.player-controls__player-bar .ic-play-circle-online:hover {
    background-color: transparent;
    color: var(--link-text-hover);
}

.player-controls__player-bar .time {
    min-width: 45px;
    font-size: 12px;
    color: var(--player-text);
    font-weight: 500;
}

.player-controls__player-bar .time.left {
    text-align: right;
    margin-right: 10px;
    opacity: .5;
}

.player-controls__player-bar .zm-duration-bar {
    height: 15px;
    width: 100%;
    cursor: pointer;
}

.zm-player-volume #btn-volume,
.player-controls__player-bar .zm-duration-bar #progress {
    width: 100%;
    height: 3px;
}

.zm-player-volume #btn-volume:hover,
.player-controls__player-bar .zm-duration-bar #progress:hover {
    height: 5px;
}

.player-controls__player-bar .time.right {
    margin-left: 10px;
}

.player-controls-right {
    width: 30%;
}

.player-controls-right .nav-btn .icon.ic-mv {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 8px;
}

.zm-player-volume {
    display: flex;
    align-items: center;
}

.zm-player-volume .zm-duration-bar {
    width: 78px;
    height: 3px;
    cursor: pointer;
}

.zm-player-volume .zm-duration-bar .zm-slider-bar {
    width: 100%;
    height: 3px;
}

.ic-volume .volume-muted {
    display: none;
}

.ic-volume .volume-default {
    display: block;
}

.player-controls-right .divide {
    height: 33px;
    width: 1px;
    background-color: var(--border-player);
    margin: 0 20px;
}

.player-controls-right .nav-btn.queue-expand-button {
    position: relative;
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid transparent;
    font-weight: 500;
    color: var(--player-text);
    font-size: 12px;
}

.player-controls-right .nav-btn.queue-expand-button:hover {
    background-color: hsla(0, 0%, 100%, .2);
}

.player-controls-right .nav-btn.queue-expand-button .icon {
    top: 2px;
    font-size: 16px;
    position: relative;
}